@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inter';
}


/* Organizando o header */
header {
    background-color: #8C502B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 20px;
    color: white;
    height: 10vh;
}
h1 {
    text-transform: uppercase;
    font-size: x-large;
}

/* Organizando o menu */
a {
    color: white;
    text-decoration: none;
}
a:after {
    content: " | ";
}
a:last-child:after {
    content: none;
}
a:hover {
    color:#dfaf92; 
}


.tit_projetos {
    height: 12vh;
    padding-top: 8vh;
    display: flex;
    justify-content: center;
}

.sobre_proj {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj {
    width: 92vw;
    border-bottom: 2px #8C502B solid;
    padding-top: 6vh;
}


footer {
    background-color: #8C502B;
    display: flex;
    align-items: flex-end;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
